.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  mat-card {
    text-align: center;
    width: 15rem;
    line-height: 2;

    button {
      position: absolute;
      bottom: 12px;
      left: 3.7rem;
    }
  }

  mat-tab-group {
    flex-grow: 1;
    margin-left: 1rem;
  }

  ::ng-deep mat-tab-header {
    background-color: #f9f9f9;
  }

}

