.text-center {
  text-align: center;
}

.justify-between {
  justify-content: space-around;
}

.flex-wrap{
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.font-2 {
  font-size: 2rem;
}

.l-height-2 {
  line-height: 2;
}
